{% extends 'base.html.twig' %}

{% block title %}Edit Sourcedoc{% endblock %}

{% block body %}
    <h1>Edit Sourcedoc</h1>

    {{ include('sourcedoc/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('sourcedoc_index') }}">back to list</a>

    {{ include('sourcedoc/_delete_form.html.twig') }}
{% endblock %}
